<form method="POST" action="/links/add">
  fullurl: <input type="text" name="fullurl" value="http://www.google.com" /><br />
  shorturl: <input type="text" name="shorturl" value="google.com" /><br />
  title: <input type="text" name="title" value="Google" /><br />
  description: <input type="text" name="description" value="Google homepage" /><br />
  originalposter: <input type="text" name="originalposter" value="luisvaz" /><br />
  userid: <input type="text" name="userid" value=2 /><br />
  <p><input type="submit" value="test POST" /></p>
</form>