<header class="vertical-space">
    <h1>LinkShare<small>just click and there it goes</small></h1>
    <nav class="ink-navigation">
        <ul class="menu horizontal black">
            <li class="active"><a href="/public">Public</a></li>
            <li><a href="/personal">Personal</a></li>
            <li><a href="/shared">Shared</a></li>
            <li><a href="/friends">Friends</a></li>
        </ul>
    </nav>
</header>